<div class="container-fluid" style="position: relative !important;">
  <div class="bg-img">
    <div class="content">
      <header>Đăng nhập</header>
      <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
        <div class="field" data-toggle="username" data-content="Tên tài khoản không được để trống" id="field-username">
          <span class="fa fa-user"></span>
          <input id="username" type="text" required placeholder="Tên tài khoản" formControlName="username"
                 (input)="checkErrorUsername()">
        </div>
        <div class="field space" data-toggle="password" data-content="Mật khẩu không được để trống" id="field-password">
          <span class="fa fa-lock"></span>
          <input id="password" type="password" class="pass-key" required placeholder="Nhập mật khẩu"
                 formControlName="password"
                 (input)="checkErrorPassword()">
          <span class="show" (click)="showPassword()">{{passwordStatus}}</span>
        </div>
        <div class="pass">
          <a href="#">Quên mật khẩu?</a>
        </div>
        <div *ngIf="activeLogin">
          <div class="field">
            <button *ngIf="buttonLoginStatus" type="submit">Đăng Nhập</button>
            <button *ngIf="!buttonLoginStatus" type="button" style="background-color: #3498db !important; color: white !important;" disabled>
              <div class="spinner-border spinner-border-sm mb-1"></div>
              Đang tải...
            </button>
          </div>
        </div>
        <div *ngIf="!activeLogin">
          <div *ngIf="realTimeSecond < 10">
            <div class="field">
              <button class="disabled" type="button"
                      style="background-color: #3498db !important; color: white !important;">
                0{{realTimeMinute}} : 0{{realTimeSecond}}
              </button>
            </div>
          </div>
          <div *ngIf="realTimeSecond >= 10">
            <div class="field">
              <button class="disabled" type="button"
                      style="background-color: #3498db !important; color: white !important;">
                0{{realTimeMinute}} : {{realTimeSecond}}
              </button>
            </div>
          </div>
        </div>
      </form>
      <div class="signup">Bạn không có tài khoản?
        <a [routerLink]="['/register']">Đăng ký</a>
      </div>
    </div>
  </div>
</div>
