<body>
<div class="login-form">
  <h6 class="text-center mt-4">Sửa thông tin máy tính</h6>
  <form [formGroup]="formEditComputer" (ngSubmit)="submit()" >
    <div class="form-floating textbox mb-4">
      <input type="text" class="form-control input" id="ma" placeholder="Mã máy" formControlName="code" style="padding-top: 10px"
             (change)="checkCode($event.target.value)" autocomplete="off">
      <div>
        <div><span style="color: red; font-size: 0.8rem" *ngIf="formEditComputer.get('code').dirty
                && formEditComputer.hasError('required', 'code')">Mã máy không được để trống.</span></div>
        <div><span style="color: red; font-size: 0.8rem" *ngIf="isExitsCode == true">Mã máy đã tồn tại.</span></div>
        <div><span style="color: red; font-size: 0.8rem" *ngIf="formEditComputer.get('code').dirty
                && formEditComputer.hasError('pattern', 'code')">Mã máy phải có định dạng CPXXXX (ví dụ: CP0001...).</span></div>
      </div>

      <label for="vi-tri" style="color: white">
        Mã máy
        <span class="text-danger">*</span>
      </label>
    </div>

    <div class="form-floating textbox mb-4">
      <select class="form-select select input" aria-haspopup="true"
              id="status" formControlName="status" style="padding: 10px 15px 0 15px">
        <option disabled>Chọn tình trạng</option>
        <option value="0">Bảo trì</option>
        <option value="1">Bình thường</option>
      </select>
      <p style="color: red; font-size: 0.8rem" *ngIf="formEditComputer.get('status').touched
                && formEditComputer.hasError('required', 'status')">Tình trạng  máy không được để trống.</p>
      <label for="status" style="color: white">
        Trạng thái sử dụng
        <span class="text-danger">*</span>
      </label>
    </div>

    <div class="form-floating textbox mb-4">
      <input type="text" class="form-control input" id="vi-tri" placeholder="Vị trí máy" formControlName="location" style="padding-top: 10px"
             (change)="checkLocation($event.target.value)" autocomplete="off">
      <div>
        <div><span style="color: red; font-size: 0.8rem" *ngIf="formEditComputer.get('location').touched
                && formEditComputer.hasError('required', 'location')">Vị trí máy không được để trống.</span></div>
        <div><span style="color: red; font-size: 0.8rem" *ngIf="formEditComputer.get('location').dirty
                && formEditComputer.hasError('pattern', 'location')">Vị trí máy phải có định dạng AXXXX (ví dụ: A0001...).</span></div>
        <div><span style="color: red; font-size: 0.8rem" *ngIf="formEditComputer.get('location').dirty
                && formEditComputer.hasError('location')">Không được trùng vị trí.</span></div>
        <div><span style="color: red; font-size: 0.8rem" *ngIf="isExitsLocation == true">Vị trí này đã có máy.</span></div>
      </div>
      <label for="vi-tri" style="color: white">
        Vị trí máy
        <span class="text-danger">*</span>
      </label>
    </div>

    <div class="form-floating textbox mb-4">
      <input type="date" class="form-control input" id="start"
             placeholder="ngày hoạt động"
             required formControlName="startUsedDate" style="padding-top: 10px">
      <p style="color: red; font-size: 0.8rem" *ngIf="formEditComputer.get('startUsedDate').touched
                && formEditComputer.hasError('required', 'startUsedDate')">Ngày không được để trống.</p>
      <p style="color: red; font-size: 0.8rem" *ngIf="formEditComputer.get('startUsedDate').dirty
                && formEditComputer.hasError('dateerror')">Ngày đưa vào hoạt dộng phải bé hơn hoặc bằng ngày hiện tại.</p>

      <label for="start" style="color: white">
        Ngày đưa vào hoạt động
        <span class="text-danger">*</span>
      </label>
    </div>

    <div class="form-floating textbox mb-3">
      <input type="text" class="form-control input" id="setting" placeholder="cấu hình" formControlName="configuration"
             style="padding-top: 10px" autocomplete="off">
      <div>
        <span style="color: red; font-size: 0.8rem" *ngIf="formEditComputer.get('configuration').touched
                && formEditComputer.hasError('required', 'configuration')">Vị trí máy không được để trống.</span>
        <span style="color: red; font-size: 0.8rem" *ngIf="formEditComputer.get('configuration').dirty
                && formEditComputer.hasError('minlength', 'configuration')">Cấu hình tối thiếu 2 ký tự. &nbsp;&nbsp;</span>
        <span style="color: red; font-size: 0.8rem" *ngIf="formEditComputer.get('configuration').touched
                && formEditComputer.hasError('maxlength', 'configuration')">Cấu hình tối đa 20 ký tự.</span>
        <span style="color: red; font-size: 0.8rem" *ngIf="formEditComputer.get('configuration').dirty
                && formEditComputer.hasError('pattern', 'configuration')">Cấu hình không được chứa ký tự đặc biệt.</span>
      </div>
      <label for="setting" style="color: white">
        Cấu hình
        <span class="text-danger">*</span>
      </label>
    </div>


    <div class="space-between form-floating textbox mb-4">
      <div style="width: 32%; float: left">
        <div class="form-floating textbox" formGroupName="computerType">
          <select class="form-select select input" aria-haspopup="true"
                  id="city" formControlName="id" style="padding: 10px 15px 0 15px">
            <option value="" class="option" style="height: 50px" disabled="">Chọn loại máy</option>
            <option *ngFor="let type of computerType" [value]="type.id">{{type.name}}</option>
          </select>
          <p style="color: red; font-size: 0.8rem" *ngIf="formEditComputer.get('computerType').get('id').touched
                && formEditComputer.get('computerType').hasError('required', 'id')">Loại máy không được để trống.</p>
          <label for="city" style="color: white">
            Loại máy
            <span class="text-danger">*</span>
          </label>
        </div>
      </div>

      <div style="width: 32%; float: left">
        <div class="form-floating textbox">
          <select class="form-select select input" aria-haspopup="true"
                  id="district" formControlName="manufacturer" style="padding: 10px 15px 0 15px">
            <option value="" class="option" style="height: 50px" disabled="">Chọn hãng máy</option>
            <option value="Dell">Dell</option>
            <option value="Asus">Asus</option>
            <option value="MSI">MSI</option>
            <option value="Acer">Acer</option>
            <option value="Sam Sung">Sam Sung</option>
            <option value="Apple IMac">Apple IMac</option>
            <option value="HP">HP</option>
            <option value="Lenovo">Lenovo</option>
          </select>
          <p style="color: red; font-size: 0.8rem" *ngIf="formEditComputer.get('manufacturer').touched
                && formEditComputer.hasError('required', 'manufacturer')">Vị trí máy không được để trống.</p>
          <label for="district" style="color: white">
            Hãng
            <span class="text-danger">*</span>
          </label>
        </div>
      </div>
      <div style="width: 32%; float: left">
        <div class="form-floating textbox">
          <select class="form-select select input" aria-haspopup="true"
                  id="ward" formControlName="warranty" style="padding: 10px 15px 0 15px">
            <option value="" class="option" style="height: 50px">Thời gian bảo hành</option>
            <option value="2" class="option">2 năm</option>
            <option value="3" class="option">3 năm</option>
            <option value="4" class="option">4 năm</option>
          </select>
          <p style="color: red; font-size: 0.8rem" *ngIf="formEditComputer.get('warranty').touched
                && formEditComputer.hasError('required', 'warranty')">Vị trí máy không được để trống.</p>
          <label for="ward" style="color: white">
            Bảo hành
            <span class="text-danger">*</span>
          </label>
        </div>
      </div>
    </div>
    <div>
    </div>

    <div style="padding-right: 37px">
      <div class="row mb-5 mt-4 ms-5 justify-content-center">
        <button type="button" class="btn btn-outline-light w-25" (click)="cancel()">Hủy bỏ</button>
        <button type="submit" class="btn btn-primary w-25 ms-3">Sửa</button>
      </div>
    </div>
  </form>
</div>
</body>
