<!-- Breadcrumb Start -->
<div class="container-fluid">
  <div class="row px-xl-5">
    <div class="col-12">
      <nav class="breadcrumb bg-light mb-30">
        <a class="breadcrumb-item text-dark" href="#">Trang chủ</a>
        <a class="breadcrumb-item text-dark" href="#">Sản phẩm</a>
        <span class="breadcrumb-item active">Giỏ hàng</span>
      </nav>
    </div>
  </div>
</div>
<!-- Breadcrumb End -->


<!-- Cart Start -->
<div class="container-fluid">
  <div class="row px-xl-5">
    <div class="col-lg-8 table-responsive mb-5">
      <table class="table table-light table-borderless table-hover text-center mb-0">
        <thead class="thead-dark">
        <tr>
          <th colspan="2">Sản phẩm</th>
          <th>Giá</th>
          <th>Số lượng</th>
          <th>Thành tiền</th>
          <th>Hủy bỏ</th>
        </tr>
        </thead>
        <tbody class="align-middle">
        <tr *ngFor="let order of productOrders">
          <td class="align-middle"><img src="{{order.product.image}}" alt="" style="width: 50px;"></td>
          <td class="align-middle text-left">{{order.product.name}}</td>
          <td class="align-middle">{{order.product.price | currency: 'VND' : ''}}<sup>đ</sup></td>
          <td class="align-middle">
            <div class="input-group quantity mx-auto" style="width: 100px;">
              <div class="input-group-btn">
                <button class="btn btn-sm btn-primary btn-minus" (click)="minusQuantity(order)">
                  <i class="fa fa-minus"></i>
                </button>
              </div>
              <input type="text" class="form-control form-control-sm bg-secondary border-0 text-center" value="{{order.quantity}}">
              <div class="input-group-btn">
                <button class="btn btn-sm btn-primary btn-plus" (click)="plusQuantity(order)">
                  <i class="fa fa-plus"></i>
                </button>
              </div>
            </div>
          </td>
          <td class="align-middle">{{order.quantity * order.product.price | currency: 'VND' : ''}}<sup>đ</sup></td>
          <td class="align-middle"><button class="btn btn-sm btn-danger" (click)="deleteProductInCart(order)"><i class="fa fa-times"></i></button></td>
        </tr>
        <tr *ngIf="productOrders.length == 0">
          <td colspan="5" class="align-middle text-center">Không có sản phẩm nào trong giỏ hàng</td>
        </tr>
        </tbody>
      </table>
    </div>
    <div class="col-lg-4">
      <form class="mb-30" action="">
        <div class="input-group">
          <input type="text" class="form-control border-0 p-4" placeholder="Mã giảm giá">
          <div class="input-group-append">
            <button class="btn btn-primary">Áp dụng</button>
          </div>
        </div>
      </form>
      <h5 class="section-title position-relative text-uppercase mb-3"><span class="bg-secondary pr-3">Tóm lược giỏ hàng</span></h5>
      <div class="bg-light p-30 mb-5">
        <div class="border-bottom pb-2">
          <div class="d-flex justify-content-between mb-3">
            <h6>Thành tiền</h6>
            <h6>{{this.totalMoney | currency: 'VND': ''}}<sup>đ</sup></h6>
          </div>
          <div class="d-flex justify-content-between">
            <h6 class="font-weight-medium">Giảm giá</h6>
            <h6 class="font-weight-medium">0</h6>
          </div>
        </div>
        <div class="pt-2">
          <div class="d-flex justify-content-between mt-2">
            <h5>Tổng tiền</h5>
            <h5>{{this.totalMoney | currency: 'VND': ''}}<sup>đ</sup></h5>
          </div>
          <button id="btnGoPayment" class="btn btn-block btn-primary font-weight-bold my-3 py-3" (click)="goPayment()">Tiến hành thanh toán</button>
          <div id="myPaypalButtons">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Cart End -->
