<div class="container-fluid pt-3">
  <div class="row">
    <h2 style="margin-left: 40%">Top 10 sản phẩm bán chạy nhất</h2>
  </div>
  <div class="row">
    <div class="col-4">
      <form [formGroup]="formChart">
        <fieldset>
          <h1>THỐNG KÊ</h1>

          <label for="start">Ngày bắt đầu:</label>
          <input type="date" formControlName="start" id="start">

          <label for="end">Ngày kết thúc:</label>
          <input type="date" formControlName="end" id="end">

        </fieldset>
        <hr>
        <fieldset>

          <legend>Thống kê thời gian gần đây:
          </legend>

          <label for="type">Thời điểm</label>
          <select (change)="onChangeStatistic($event.target.value)" formControlName="type" id="type">
            <option value="">--Lựa chọn--</option>
            <option [value]="'month'">Thống kê 30 ngày trước</option>
            <option [value]="'year'">Thống kê 1 năm trước</option>
          </select>
        </fieldset>
        <button type="submit" (click)="onSubmit()" style="background-color: black ; color:#FFD333 ">Thống kê</button>
      </form>
    </div>

    <div class="col-8">
      <canvas id="myChart" width="800" height="500"></canvas>
    </div>

  </div>
</div>





