<div class="container">
  <form id="contact" [formGroup]="formCreate" (ngSubmit)="create()">
    <h3 style="color: #FFD333">Thêm mới sản phẩm</h3>
    <fieldset>
      <input (keydown.enter)="create()" accept="image/png, image/jpeg" type="file"
             id="upload" multiple (change)="selectFile($event)" (change)="onFileSelected($event); "
             name="image" autocomplete="off" formControlName="image">
    </fieldset>
    <!--      <div><span style="color: red; font-size: 0.8rem" *ngIf="formCreate.get('code').dirty-->
    <!--                && formCreate.hasError('required', 'image')">Không được để trống ảnh sản phẩm</span></div>-->
    <fieldset>
      <img *ngIf="url" src="" alt="" style="height: 100px">
    </fieldset>
    <fieldset>
      <input placeholder="Tên sản phẩm" type="text" tabindex="1" required autofocus formControlName="name">
      <span style="color: red; font-size: 0.8rem" *ngIf="formCreate.get('name').dirty
                && formCreate.hasError('required', 'name')">Tên sản phẩm không được để trống.</span>
    </fieldset>
    <fieldset class="row">
      <div class="col-md-5"><span>Thời gian phát hành: </span></div>
      <div class="col-md-7">
        <input placeholder="Thời gian phát hành" type="date" tabindex="2" required
               formControlName="releaseTime">
      </div>
      <span style="color: red; font-size: 0.8rem" *ngIf="formCreate.get('releaseTime').touched
                && formCreate.hasError('required', 'releaseTime')">Thời gian phát hành không được để trống.</span>
    </fieldset>
    <fieldset class="row">
      <div class="col-md-5"><span>Thời gian sản xuất:</span></div>
      <div class="col-md-7">
        <input placeholder="Thời gian sản xuất" type="date" tabindex="2" required
               formControlName="manufactureTime"></div>
      <span style="color: red; font-size: 0.8rem" *ngIf="formCreate.get('manufactureTime').touched
                && formCreate.hasError('required', 'manufactureTime')">Thời gian sản xuất không được để trống.</span>
    </fieldset>
    <fieldset>
      <input placeholder="Hãng sản xuất" type="text" tabindex="3" required formControlName="manufacturer">
      <span style="color: red; font-size: 0.8rem" *ngIf="formCreate.get('manufacturer').touched
                && formCreate.hasError('required', 'manufacturer')">Hãng sản phẩm không được để trống.</span>
    </fieldset>
    <fieldset>
      <input placeholder="Giá sản phẩm" type="text" tabindex="4" required formControlName="price">
      <span style="color: red; font-size: 0.8rem" *ngIf="formCreate.get('price').touched
                && formCreate.hasError('required', 'price')">Giá sản phẩm không được để trống.</span>
      <span style="color: red; font-size: 0.8rem" *ngIf="formCreate.get('price').dirty
                && formCreate.hasError('pattern', 'price')">Giá sản phẩm không được có ký tự.</span>
    </fieldset>
    <fieldset>
      <select name="" id="" formControlName="warranty">
        <option value="" disabled>Thời gian bảo hành</option>
        <option value="2 năm">2 năm</option>
        <option value="3 năm">3 năm</option>
        <option value="4 năm">4 năm</option>
      </select>
      <p style="color: red; font-size: 0.8rem" *ngIf="formCreate.get('warranty').touched
                && formCreate.hasError('required', 'warranty')">Thời gian bảo hành không được để trống.</p>
    </fieldset>
    <fieldset>
      <input placeholder="Số lượng sản phẩm" type="text" tabindex="4" required formControlName="quantity">
      <p style="color: red; font-size: 0.8rem" *ngIf="formCreate.get('quantity').dirty
                && formCreate.hasError('required', 'quantity')">Số lượng sản phẩm không được để trống.</p>
      <p style="color: red; font-size: 0.8rem" *ngIf="formCreate.get('quantity').touched
                && formCreate.hasError('pattern', 'quantity')">Số lượng sản phẩm không được có ký tự.</p>
    </fieldset>
    <fieldset formGroupName="category">
      <select name="" id="category" formControlName="id">
        <option value="" disabled>Thể loại</option>
        <option *ngFor="let category of category" [value]="category.id">{{category.name}}</option>
      </select>
      <p style="color: red; font-size: 0.8rem" *ngIf="formCreate.get('category').get('id').touched
                && formCreate.get('category').hasError('required', 'id')">Loại sản phẩm không được để trống.</p>
    </fieldset>
    <fieldset>
      <button name="submit" type="submit" id="contact-submit" data-submit="...Sending" >Thêm mới</button>
    </fieldset>
  </form>


</div>
