
<div class="row">
  <div class="col-md-1"></div>

<div class="container col-md-10">
  <div class="row justify-content-center">
    <h5 class="text-white font-weight-bold text-white" style="font-size: 2rem; margin-top: 2rem">Ticket creation</h5>
  </div>
  <div class="row justify-content-center" style="flex-wrap: wrap">
    <form [formGroup]="formBook" (ngSubmit)="submit()" class="needs-validation p-4"
          style="background-color: whitesmoke; border-radius: 1rem; width: 80%" novalidate>
      <div class="form-row">
        <div class="col-md-4 mb-3">
          <label for="maSanPham">Mã sản phẩm</label>
          <input type="text" class="form-control" formControlName="maSanPham" id="maSanPham"
                 placeholder="Mã sản phẩm"  required (change)="checkCode($event.target.value)">
          <div><p style="color: red; font-size: 0.9rem" *ngIf="formBook.get('maSanPham').touched
                && formBook.hasError('required', 'maSanPham')">Không được để trống.</p></div>
          <div><span style="color: red; font-size: 0.9rem" *ngIf="isExitsCode == true">Mã sách đã tồn tại.</span></div>
        </div>
        <div class="col-md-4 mb-3">
          <label for="tenSanPham">Tên sản phẩm</label>
          <input type="text" class="form-control" formControlName="tenSanPham" id="tenSanPham"
                 placeholder="Ten sản phẩm"  required>
          <p style="color: red; font-size: 0.9rem" *ngIf="formBook.get('tenSanPham').touched
                && formBook.hasError('required', 'tenSanPham')">Không được để trống.</p>
        </div>
        <div class="col-md-4 mb-3">
          <label for="donGia">Đơn giá</label>
          <input type="text" class="form-control" formControlName="donGia" id="donGia"
                 placeholder="Dơn giá"  required>
          <p style="color: red; font-size: 0.9rem" *ngIf="formBook.get('donGia').touched
                && formBook.hasError('required', 'donGia')">Không được để trống.</p>
        </div>
      </div>

      <div class="form-row">
        <div class="col-md-4 mb-3">
          <label for="tinhTrang">Tình trạng</label>
          <select class="form-control" formControlName="tinhTrang" id="tinhTrang">
            <option value="" disabled>Lựa chọn</option>
            <option value="Còn hàng">Còn hàng</option>
            <option value="Hết hàng">Hết hàng</option>
          </select>
          <p style="color: red; font-size: 0.9rem" *ngIf="formBook.get('tinhTrang').touched
                && formBook.hasError('required', 'tinhTrang')">Không được để trống.</p>
        </div>


        <div class="col-md-4 mb-3">
          <label for="ngayNhap">Ngày nhập</label>
          <input type="date" class="form-control" formControlName="ngayNhap" id="ngayNhap"
                 placeholder="Ngày nhập"
                 required>
          <p style="color: red; font-size: 0.9rem" *ngIf="formBook.get('ngayNhap').touched
                && formBook.hasError('required', 'ngayNhap')">Không được để trống.</p>

        </div>

      </div>
      <div class="form-row">
        <div class="col-md-4 mb-3">
          <label for="ngayXuatBan">Ngày suất bản</label>
          <input type="date" class="form-control" formControlName="ngayXuatBan" id="ngayXuatBan" value="" placeholder="Ngày xuất bản">

        </div>
        <div class="col-md-4 mb-3">
          <label for="tacGia">Tác giả</label>
          <input type="text" class="form-control" formControlName="tacGia" id="tacGia"
                 placeholder="Tác giả" required>

        </div>
        <div class="col-md-4 mb-3">
          <label for="loai">Loại</label>
          <select class="form-control" formControlName="loai" id="loai">
            <option value="" disabled>Lựa chọn</option>
            <option value="Kinh dị">Kinh dị</option>
            <option value="Hoạt hình">Hoạt hình</option>
            <option value="Viễn tưỡng">Viễn tưỡng</option>
          </select>
        </div>
      </div>

      <button style="margin-right: 0.5rem" class="btn btn-secondary" routerLink="/ticket">Back</button>
      <button class="btn bg-color text-white" type="submit" style="background-color: black">Create</button>
    </form>
  </div>
</div>
  <div class="col-md-1"></div>
</div>
