<div class="container-fluid" style="background-color: #e6dbb9">
  <header class="row justify-content-center">
    <div class="container" id="header-nav">
      <nav class="navbar navbar-expand-lg align-content-center">
        <div class="container">
          <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" routerLink="">TRANG CHỦ</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
                   aria-expanded="false">
                  ĐỒ ĂN
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <li><a class="dropdown-item" routerLink="/food-list">Danh sách đồ ăn</a></li>
                  <li><a class="dropdown-item" routerLink="/create-food">Thêm mới đồ ăn</a></li>
                </ul>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown1" role="button"
                   data-bs-toggle="dropdown" aria-expanded="false">
                  THỨC UỐNG
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <li><a class="dropdown-item" routerLink="/drink-list">Danh sách thức uống</a></li>
                  <li><a class="dropdown-item" routerLink="/create-drink">Thêm mới thức uống</a></li>
                </ul>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown2" role="button"
                   data-bs-toggle="dropdown" aria-expanded="false">
                  SÁCH TRUYỆN
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <li><a class="dropdown-item" routerLink="/list-book">Danh sách truyện sách</a></li>
                  <li><a class="dropdown-item" routerLink="/create">Thêm mới truyện sách</a></li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </div>
  </header>
</div>

<router-outlet></router-outlet>
