<!-- Page Header Start -->
<!--<div class="container-fluid bg-secondary mb-5">-->
<!--  <div class="d-flex flex-column align-items-center justify-content-center" style="min-height: 300px">-->
<!--    <h1 class="font-weight-semi-bold text-uppercase mb-3">Đăng nhập</h1>-->
<!--    <div class="d-inline-flex">-->
<!--      <p class="m-0"><a href="">Trang chủ</a></p>-->
<!--      <p class="m-0 px-2">-</p>-->
<!--      <p class="m-0">Đăng nhập</p>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->
<!-- Page Header End -->

<div class="container-fluid" style="position: relative !important;">
  <div class="bg-img">
    <div class="content">
      <header>Đăng ký</header>
      <form [formGroup]="registerForm" (ngSubmit)="onRegister()">
        <div class="field" data-toggle="username" data-content="" id="field-username">
          <span class="fa fa-user"></span>
          <input id="username" type="text" required placeholder="Nhập tên tài khoản" formControlName="username"
                (input)="checkErrorUsername()">
        </div>
        <div formGroupName="pass" data-toggle="samePassword" data-content="" id="field-samePassword">
          <div class="field space" data-toggle="password" data-content="" data-placement="left" data-trigger="manual" id="field-password">
            <span class="fa fa-lock"></span>
            <input id="password" type="password" class="pass-key" required placeholder="Nhập mật khẩu" formControlName="password"
                   (input)="checkErrorPassword()">
            <span class="show" (click)="showPassword()">{{passwordStatus}}</span>
          </div>
          <div class="field space" data-toggle="confirmPassword" data-content="" data-trigger="manual" id="field-confirmPassword">
            <span class="fa fa-lock"></span>
            <input id="confirmPassword" type="password" class="pass-key" required placeholder="Xác nhận mật khẩu" formControlName="confirmPassword"
                   (input)="checkErrorConfirmPassword()">
            <span class="show" (click)="showConfirmPassword()">{{confirmPasswordStatus}}</span>
          </div>
        </div>
        <div class="field mt-4">
          <button *ngIf="buttonRegisterStatus" type="submit">Đăng Ký</button>
          <button *ngIf="!buttonRegisterStatus" type="button" style="background-color: #3498db !important; color: white !important;" disabled>
            <div class="spinner-border spinner-border-sm mb-1"></div>
            Đang tải...
          </button>
        </div>
      </form>
      <div class="login">Hoặc đăng nhập với</div>
      <div class="links">
        <div class="facebook">
          <i class="fab fa-facebook-f"><span>Facebook</span></i>
        </div>
        <div class="instagram">
          <i class="fab fa-google"><span>Gmail</span></i>
        </div>
      </div>
      <div class="signup">Bạn đã có tài khoản?
        <a [routerLink]="['/login']">Đăng nhập</a>
      </div>
    </div>
  </div>
</div>
